<div class="container font_family">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <% @products.each do |product| %>
          <%=link_to product.title, product_path(product) %>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="caption-full">
          <% @products.each do |product| %>
            <%=image_tag product.avatar.url%>
            Rs:<%=product.price%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <%if current_user.user_name == 'admin'%> 
    <div class="table-responsive">
      <%= link_to 'New Product', new_product_path %>
    </div>
  <% end %>
