<h1 class ="font_family margin-correct">New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Home page', products_path, class: "button-create-product font_family margin-correct-back" %>
