<!DOCTYPE html>
<html>
  <head>
    <title>Online Book Store.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="columns" >
<div id="side" >
<a href="http://www...." >Home</a><br />
<a href="http://www..../faq" >Questions</a><br />
<a href="http://www..../news" >News</a><br />
<a href="http://www..../contact" >Contact</a><br />
</div>
    <%= yield %>
  </body>
</html>
